.logo {
    float: left;
    margin:12px auto;
    height: 40px;
    line-height: 40px;
    width: 100px;
    background-color: #fff;
    font-size: 8px;
    text-align: center;
}

.ant-menu-overflow {
    display: flex;
    justify-content:flex-end;
}

.avatar {
    float: right;
    margin-left: 2vw;
    margin-right: 4vw;
    width: 50px;
    height: 50px;
    margin-top: 7px;
}

.avatar:hover{
    cursor: pointer;
}