.logo {
  float: left;
  margin: 12px auto;
  height: 40px;
  line-height: 40px;
  width: 100px;
  background-color: #fff;
  font-size: 8px;
  text-align: center;
}

.header-wrapper :global(.ant-layout-header) {
  background-color: #d8dee9;
}

.show-others {
  float: right;
  margin-right: 20px;
}

.avatar-wrapper {
  float: right;
  margin-left: 2vw;
  margin-right: 4vw;
}
.avatar {
  width: 50px;
  height: 50px;
}

.avatar:hover {
  cursor: pointer;
}
